// Вспомогательные функции
@use "sass:math";
@use "variables";

@function strip-unit($value) {
  @return math.div($value, $value * 0 + 1);
}

// Универсаотный fluid миксин
@mixin fluid(
  $property,
  $min-size: 16px,
  $max-size: 32px,
  $min-viewport: 375px,
  $max-viewport: 1920px
) {
  #{$property}: clamp(
          #{$min-size},
          calc(#{$min-size} + (#{strip-unit($max-size)} - #{strip-unit($min-size)}) * ((100vw - #{$min-viewport}) / (#{strip-unit($max-viewport)} - #{strip-unit($min-viewport)}))),
          #{$max-size}
  );
}

// Удобные обертки
@mixin fluid-text($min-size, $max-size, $min-viewport: 375px, $max-viewport: 1920px) {
  @include fluid(font-size, $min-size, $max-size, $min-viewport, $max-viewport);
}

// Базовые миксины
@mixin reset-link {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

@mixin reset-button {
  padding: 0;
  background-color: transparent;
  border: none;
  font: inherit;
  color: inherit;
}

@mixin flex-center($is-inline: false) {
  @if $is-inline {
    display: inline-flex;
  } @else {
    display: flex;
  }

  justify-content: center;
  align-items: center;
}

@mixin abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin square($size) {
  width: $size;
  aspect-ratio: 1;
}

@mixin hover {
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }

  @media (hover: none) {
    &:active {
      @content;
    }
  }
}

@mixin layout-header($gap: 0) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: $gap;
}

@mixin focus-outline-rounded(
  $color: variables.$focus-outline-color-secondary,
  $offset: 2px
) {
  &:focus-visible {
    outline: none;
    box-shadow: 0 0 0 #{$offset} #{$color};
    border-radius: variables.$border-radius-medium;
  }
}

// Базовые стили для всех кнопок
@mixin button-base {
  @include reset-button;
  @include focus-outline-rounded;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: variables.$button-height-cta;
  padding: 12px 24px;
  border: none;
  border-radius: variables.$border-radius-large;
  font-weight: variables.$font-weight-medium;
  font-size: 16px;
  white-space: nowrap;
}

@mixin press-down($offset: 1px) {
  &:active {
    transform: translateY($offset);
  }

  @media (hover: hover) {
    &:hover {
      transform: translateY($offset);
    }
  }
}
