/* БРЕЙКПОИНТЫ */
$mobile: 360px;         // как в макете
$mobile-large: 480px;   // большинство телефонов
$tablet: 768px;         // iPad, планшеты
$tablet-large: 992px;   // большие планшеты
$desktop: 1024px;       // ноутбуки начало
$desktop-large: 1200px; // стандартные мониторы
$wide: 1440px;          // большие мониторы
$full-hd: 1920px;        // как в макете
$ultra-wide: 2560px;     // Full HD и больше
