@use 'colors' as colors;

$button-height-cta: 46px;

$button-cta-cart-background: colors.$color-green;
$button-cta-cart-text-color: colors.$color-white;

$button-cta-signin-background: transparent;
$button-cta-signin-text-color: colors.$color-dark-gray;
$button-cta-signin-border-color: colors.$color-border-mobile-divider;
$button-cta-signin-border-width: 1px;

$button-cta-cart-hover-background: colors.$color-green-hover;
$button-cta-cart-hover-text-color: colors.$color-white;
$button-cta-signin-hover-background: colors.$color-white-alpha-60;
$button-cta-signin-hover-text-color: colors.$color-dark-gray;
$button-cta-signin-hover-border-color: colors.$color-border-mobile-divider;

$focus-outline-width: 2px;
$focus-outline-offset: 2px;
$focus-shadow-primary: 0 0 0 3px colors.$focus-outline-color-primary;
$focus-shadow-secondary: 0 0 0 3px colors.$focus-outline-color-secondary;
$focus-shadow-light: 0 0 0 2px colors.$focus-outline-color-light;
