@use 'breakpoints' as breakpoints;

:root {
  // Брейкпоинты
  --mobile: #{breakpoints.$mobile};
  --tablet: #{breakpoints.$tablet};
  --desktop: #{breakpoints.$desktop};
  --full-hd: #{breakpoints.$full-hd};
}
