@use 'breakpoints' as *;
@use 'colors' as *;
@use 'buttons' as *;
@use 'typography' as *;
@use 'layout' as *;

:root {
  /* Брейкпоинты */
  --mobile: #{$mobile};
  --mobile-large: #{$mobile-large};
  --tablet: #{$tablet};
  --tablet-large: #{$tablet-large};
  --desktop: #{$desktop};
  --desktop-large: #{$desktop-large};
  --wide: #{$wide};
  --full-hd: #{$full-hd};
  --ultra-wide: #{$ultra-wide};

  /* Общие */
  --color-white: #{$color-white};
  --color-dark-gray: #{$color-dark-gray};
  --color-green: #{$color-green};
  --color-light-gray: #{$color-light-gray};
  --color-light-gray-secondary: #{$color-light-gray-secondary};
  --color-gray-text: #{$color-gray-text};
  --color-border-alpha: #{$color-border-alpha};

  /* Секция */
  --section-padding-y: #{$section-padding-y};

  /* Контейнер */
  --container-width: #{$container-width};
  --container-padding-x: #{$container-padding-x};

  /* Шрифт */
  --font-family-basic: #{$font-family-basic};
  --font-weight-regular: #{$font-weight-regular};
  --font-weight-medium: #{$font-weight-medium};

  /* Основной текст */
  --font-size-min: #{$font-size-min};
  --font-size-max: #{$font-size-max};

  /* Заголовки */
  --heading1-min: #{$heading1-min};
  --heading1-max: #{$heading1-max};
  --heading2-min: #{$heading2-min};
  --heading2-max: #{$heading2-max};
  --heading3-min: #{$heading3-min};
  --heading3-max: #{$heading3-max};
  --heading4-min: #{$heading4-min};
  --heading4-max: #{$heading4-max};

  /* кнопки */
  --button-height-cta: #{$button-height-cta};
  --button-height-control: #{$button-height-control};

  /* CTA кнопки */
  --button-cta-cart-background: #{$button-cta-cart-background};
  --button-cta-cart-text-color: #{$button-cta-cart-text-color};
  --button-cta-shop-background: #{$button-cta-shop-background};
  --button-cta-shop-text-color: #{$button-cta-shop-text-color};
  --button-cta-shop-border-color: #{$button-cta-shop-border-color};
  --button-cta-signin-background: #{$button-cta-signin-background};
  --button-cta-signin-text-color: #{$button-cta-signin-text-color};
  --button-cta-signin-border-color: #{$button-cta-signin-border-color};
  --button-cta-signin-border-width: #{$button-cta-signin-border-width};

  /* Hover: CTA кнопки */
  --button-cta-cart-hover-background: #{$button-cta-cart-hover-background};
  --button-cta-cart-hover-text-color: #{$button-cta-cart-hover-text-color};
  --button-cta-shop-hover-background: #{$button-cta-shop-hover-background};
  --button-cta-shop-hover-text-color: #{$button-cta-shop-hover-text-color};
  --button-cta-shop-hover-border-color: #{$button-cta-shop-hover-border-color};
  --button-cta-signin-hover-background: #{$button-cta-signin-hover-background};
  --button-cta-signin-hover-text-color: #{$button-cta-signin-hover-text-color};
  --button-cta-signin-hover-border-color: #{$button-cta-signin-hover-border-color};

  /* CONTROL кнопки */
  --button-control-background: #{$button-control-background};
  --button-control-text-color: #{$button-control-text-color};
  --button-control-active-background: #{$button-control-active-background};
  --button-control-active-text-color: #{$button-control-active-text-color};

  /* Hover: Control кнопки */
  --button-control-hover-background: #{$button-control-hover-background};
  --button-control-hover-text-color: #{$button-control-hover-text-color};
  --button-control-active-hover-background: #{$button-control-active-hover-background};
  --button-control-active-hover-text-color: #{$button-control-active-hover-text-color};

  /* Кнопки с акцией */
  --button-sale-background: #{$button-sale-background};
  --button-sale-text-color: #{$button-sale-text-color};
  --button-sale-text-color-old: #{$button-sale-text-color-old};
  --button-sale-text-decoration: #{$button-sale-text-decoration};
  --button-sale-active-background: #{$button-sale-active-background};
  --button-sale-active-text-color: #{$button-sale-active-text-color};

  /* Hover: Кнопки с акцией */
  --button-sale-hover-background: #{$button-sale-hover-background};
  --button-sale-hover-text-color: #{$button-sale-hover-text-color};
  --button-sale-hover-text-color-old: #{$button-sale-hover-text-color-old};
  --button-sale-active-hover-background: #{$button-sale-active-hover-background};
  --button-sale-active-hover-text-color: #{$button-sale-active-hover-text-color};
  --button-sale-active-hover-text-color-old: #{$button-sale-active-hover-text-color-old};

  /* Focus для кнопок */
  --focus-outline-width: #{$focus-outline-width};
  --focus-outline-offset: #{$focus-outline-offset};
  --focus-outline-color-primary: #{$focus-outline-color-primary};
  --focus-outline-color-secondary: #{$focus-outline-color-secondary};
  --focus-outline-color-light: #{$focus-outline-color-light};
  --focus-shadow-primary: #{$focus-shadow-primary};
  --focus-shadow-secondary: #{$focus-shadow-secondary};
  --focus-shadow-light: #{$focus-shadow-light};

  /* Border Radius */
  --border-radius-small: #{$border-radius-small};
  --border-radius-medium: #{$border-radius-medium};
  --border-radius-large: #{$border-radius-large};

  /* Длительности */
  --transition-duration: #{$transition-duration};
  --transition-timing-standard: #{$transition-timing-standard};

  /* Header */
  --header-background: #{$header-background};
  --logo-color: #{$logo-color};
  --menu-text-color: #{$menu-text-color};
  --register-button-text-color: #{$register-button-text-color};
  --cart-button-background: #{$cart-button-background};
  --cart-button-text-color: #{$cart-button-text-color};
}
