$font-family-basic: 'CoFo Sans', -apple-system, blinkmacsystemfont, 'Segoe UI', roboto, sans-serif;
$font-weight-regular: 400;
$font-weight-medium: 500;

$font-size-min: 20px;
$font-size-max: 22px;

$nav-font-size-default: 16px;
$nav-font-size-catalog: 18px;
$nav-font-size-mobile: 22px;

$heading1-min: 48px;
$heading1-max: 70px;
$heading2-min: 36px;
$heading2-max: 50px;
$heading3-min: 28px;
$heading3-max: 32px;
$heading4-min: 24px;
$heading4-max: 28px;

$nav-line-height-desktop-catalog: 1.33;   // 24px / 18px = 1,333 (font-size / line-height)
$nav-line-height-desktop-default: 1.38;   // 22px / 16px = 1,375
$nav-line-height-mobile: 1.18;            // 26px / 22px = 1,182
